{:paths   ["src"]
 :deps    {metosin/jsonista {:mvn/version "0.3.1"}}
 :aliases {:pack
           {:extra-deps {pack/pack.alpha
                         {:git/url "https://github.com/juxt/pack.alpha.git"
                          :sha "c70740ffc10805f34836da2160fa1899601fac02"}}
            :main-opts  ["-m"]}

           :deploy
           {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "deps-deploy.deps-deploy"
                         "deploy" "alda-clj.jar"]}}}
