{:paths   ["src"]
 :deps    {}
 :aliases {:pack
           {:extra-deps {pack/pack.alpha
                         {:git/url "https://github.com/juxt/pack.alpha.git"
                          :sha "8acf80dd4d6e5173585f5c6fec7af28a310f3ed7"}}
            :main-opts  ["-m"]}

           :deploy
           {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "deps-deploy.deps-deploy"
                         "deploy" "alda-clj.jar"]}}}
