{:paths
 ["src"]

 :deps
 {me.raynes/conch  {:mvn/version "0.8.0"}
  metosin/jsonista {:mvn/version "0.3.1"}}

 :aliases
 {:clj-kondo
  {:replace-deps
   {clj-kondo/clj-kondo
    {:git/url "https://github.com/clj-kondo/clj-kondo"
     ;; see https://github.com/clj-kondo/clj-kondo/commits/macroexpand for newer commits
     :sha "d779b794a6ebb631954a8399e2a7136f72f75365"}}
   :main-opts ["-m" "clj-kondo.main"]}

  :garamond
  {:extra-deps
   {com.workframe/garamond {:mvn/version "0.4.0"}}

   :main-opts ["-m" "garamond.main"]}

  :pack
  {:extra-deps
   {pack/pack.alpha
    {:git/url "https://github.com/juxt/pack.alpha.git"
     :sha     "b093f79420fef019faf62a75b888b5e10f4e8cc9"}}

   :main-opts
   ["-m"]}

  :deploy
  {:extra-deps
   {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}

   :main-opts
   ["-m" "deps-deploy.deps-deploy" "deploy" "alda-clj.jar"]}}}
