{:linters
 {:missing-docstring            {:level :warning}
  :unsorted-required-namespaces {:level :warning}}

 :hooks
 {:analyze-call
  {alda.core/lisp-builtin            hooks/lisp-builtin2
   alda.core/lisp-builtins           hooks/lisp-builtins2
   alda.core/lisp-builtin-attributes hooks/lisp-builtin-attributes2}}}
