{:linters
 {:missing-docstring            {:level :warning}
  :unsorted-required-namespaces {:level :warning}}

 :hooks
 {:macroexpand
  {alda.core/lisp-builtin            alda.core/lisp-builtin
   alda.core/lisp-builtins           alda.core/lisp-builtins
   alda.core/lisp-builtin-attributes alda.core/lisp-builtin-attributes}}}
