{:cljdoc.doc/tree [["README" {:file "README.md"}
                    ["History" {:file "doc/history.md"}]
                    ["Changelog" {:file "CHANGELOG.md"}]]
                   ["Getting Started" {:file "doc/getting-started.md"}]]}
